*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color:rgba(255, 255, 0, 0.432) !important;
    color: azure !important;
}
.navbar-nav a{
    color:black !important;
    font-size: 20px;
    font-weight: 500;
}
.navbar-brand{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(to right, rgb(89, 0, 255),red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}